<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} &ndash; {{ metas.site }}</title>
  <link rel="stylesheet" href="/components.css">
  <link rel="stylesheet" href="/assets/base.css">
</head>

<body>
{{ comp.SiteHeader() }}
{{ comp.SiteNav() }}
<main role="main">
  {{ content }}
</main>
{{ comp.SiteFooter() }}
</body>

</html>