---
title: XY Theremin
---
<aside>
  <p>
    Click or touch on the grey area play.
    Move left and right to change pitch. 
    Move up and down to change volume.
    Click again or release your finger to stop.
  </p>
</aside>

<div id="control-surface" class="narrow"></div>
<section id="visualisation" class="narrow">
  {{# <canvas id="waveform"></canvas> #}}
  <canvas id="oscilloscope"></canvas>
</section>
<div id="info" class="narrow"></div>

<script src="/assets/js/xy-theremin.js"></script>