* {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

body > * {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 1em;
  background: orange;
  max-width: 720px;
}

main {
  padding: 1em;
}

ul {
  margin: 1em 2em;
}

button {
  padding: 0.2em 1em;
}

img {
  width: 100%;
}

body > header {
  display: flex;
  align-items: center;

}
body > header > *:first-child {
  flex-grow: 2;
}
body > header > h1 {
  text-transform: uppercase;
}

#control-surface {
  /* width: 100%; */
  height: 400px;
  background: grey;
}

#visualisation {
  height: 100px;
  margin-top: 10px;
  display: flex;
}

#waveform {
  padding: 10px;
  background: rgb(0, 0, 100);
}

#oscilloscope {
  flex-grow: 1;
  background: rgb(0, 100, 0);
  &.spectrum {
    background: rgb(50, 0, 0);
  } 
}