---
layout: layouts/base.njk
title: Image Wave
refs:
- https://coderwall.com/p/jzdmdq/loading-image-from-local-file-into-javascript-and-getting-pixel-data
- https://www.freecodecamp.org/news/how-displaying-an-image-on-html5-canvas-works-13e3f6a6c4bd/
---
<main role="main">
  <section id="control">
    <p>
      <label for="myFile">Load image: </label><input type="file" id="myFile" />
    </p>
    <p>
      <button data-action='start'>Start noise</button>
      <button data-action='stop'>Stop noise</button>
    </p>
  </section>
  <section id="selector">
    <img id="image">
    <canvas id="source"></canvas>
  </section>
  <section>
    <canvas id="waveform"></canvas>
  </section>
</main>

<script src="/assets/js/image-wave.js"></script>
<script>
  addEventListener('DOMContentLoaded', () => {
    soundToys.ImageWave.init({
      initialImage: '{{ "/assets/images/LIDAR-DTM-2M-SD84sw.png" | url }}',
    });
  });
</script>

<style>
  #image {
    width: 100%;
  }

  #selector {
    position: relative;
  }

  #source {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  #waveform {
    box-sizing: border-box;
    width: 100%;
  }
  #control p {
    margin-bottom: 0.3em;
  }
</style>