---
layout: layouts/base.njk
title: Lidar Theremin
---
<style>
  main * + * {
    margin-top: 1em;
  }
  .no-top-margin * + * {
    margin-top: 0;
  }

  #image {
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
  }
  fieldset {
    padding: 1rem;
  }
  #control {
    display: flex;
    gap: 1rem;
  }
</style>

<main role="main">
  <form id="control">
    <fieldset id="mode-selector">
      <div>
        <input type="radio" id="play-mode" name="mode" value="play"></input>
        <label for="play-mode">Play the landscape</label>
      </div>
      <div>
        <input type="radio" id="sample-mode" name="mode" value="sample"></input>
        <label for="sample-mode">Sample the landscape</label>
      </div>
      <legend for="mode-selector">Mode:</legend>
    </fieldset>
  </form>
  <div id="image"class="pane no-top-margin">
  </div>
  <div id="visualisation" class="no-top-margin">
    <canvas id="waveform"></canvas>
    <canvas id="oscilloscope"></canvas>
  </div>
</main>

<script src="/assets/js/lidar-theremin.js"></script>
<script>
  addEventListener('DOMContentLoaded', () => {
    const app = new soundToys.LidarTheremin({
      image: '{{ "/assets/images/LIDAR-DTM-2M-SD84sw.png" | url }}',
      imageId: 'image',
    });

    document.querySelector('#mode-selector').addEventListener('change', (e) => {
      const mode = e.target.value;
      switch (mode) {
        case 'play':
          app.setPlayMode();
          break;;
        case 'sample':
          app.setSamplingMode();
          break;;
        default:
          console.warning(`Unkown mode: ${mode}`);
          break;;
      }
    })
    // Set default mode
    document.querySelector('#mode-selector #play-mode').checked = true;

    soundToys.setupVisualisers({
      wave: 'waveform',
      scope: "oscilloscope",
      analyser: app.synth.getAnalyser(),
    });
  })
</script>
