<main>
<button data-action="start">Start</button>
<button data-action="stop">Stop</button>


<button data-frequency="440">440</button>
<button data-frequency="660">660</button>
<button data-frequency="880">880</button>

<button data-wave="sine">Sine</button>
<button data-wave="noise">Noise</button>

<div>
  <h2>Fade</h2>
  <button data-fade='triangle'>Triangle</button>
  <button data-fade='square'>Square</button>
</div>

</main>

<script src='/assets/js/test.js'></script>