---
css: |
    [data-comp=SiteHeader] {
        color: white;
        background: #333;
        font-size: 5rem;
        font-weight: 200;
        & a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
---
<header data-comp="SiteHeader">
    <a href="/">{{ metas.site }}</a>
</header>