* {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

body > * {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 1em;
  background: orange;
  max-width: 720px;
}

ul {
  margin: 1em 2em;
}

body > header {
  display: flex;
  align-items: center;

}
body > header > *:first-child {
  flex-grow: 2;
}
body > header > h1 {
  text-transform: uppercase;
}

#control-surface {
  /* width: 100%; */
  height: 400px;
  background: grey;
}

#visualisation {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  display: flex;
}

#waveform {
  padding: 10px;
  background: darkblue;
  width: 30%;
}

#oscilloscope {
  width: 70%;
  height: 100px;
}

main {
  padding: 1em;
}